@import url(main.css);

body {
    background-image: url('../images/bg_5.png');
    font-size: 1.25rem;
    min-height: 100vh !important;
}

.main-nav {
    z-index: 1;
}

.contents {
    min-height: 80vh !important;
    padding: 5vw 5vw;
}

img {
    cursor: pointer;
    -webkit-user-drag: none;
    user-select: none;
}

#a {
    padding-top: 5vw;
}

#b {
    padding-bottom: 3vw;
}

.img-hover-zoom {
    overflow: hidden;
    border-radius: .5vw;
    margin-bottom: 1vw;
}

.img-hover-zoom img {
    transition: 1s ease;
    margin-bottom: 0 !important;
    filter: grayscale(100%);
    opacity: 0;
}

.img-hover-zoom:hover img {
    transform: scale(1.25);
    filter: grayscale(0%);
    opacity: 1;
}

/* Additional revealing content */
/* v1 */
/*
.img-image {
    opacity: 0;
    transform: translateY(25vh);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.img-image.visible {
    opacity: 0.3;
    transform: translateY(0);
}
*/

/* v2 */
.img-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    opacity: 0;
    transform: translateY(25px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.img-image.visible {
    opacity: 0.3;
    transform: translateY(0);
}

.image-row {
    flex: 0 0 auto;
    width: 33.33333333%;
    /* padding-right: calc(var(--bs-gutter-x) * .25);
    padding-left: calc(var(--bs-gutter-x) * .25);*/
    padding-right: .5vw;
    padding-left: .5vw;
}